*,
*::before,
*::after{
    box-sizing: border-box;
}

body,html{
    margin: 0;
    color: #141616;
    background-color: #e6e9ea;
    font-family: 'Gilroy',sans-serif;
}
header{
    position: fixed;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 99;
    mix-blend-mode: difference;
    filter: invert(100%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .2s;
}
header h2{
    color: hsla(155, 100%, 30%, 0.863);
    font-size: 3rem;
}
h1{
    font-size: 110px;
    margin-bottom: 1rem;
}
p{
    font-size: 30px;
    /* line-height: 5px; */
}
.full-screen-section{
    height: 100vh;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.top-section .left,
.top-section .right{
    flex-basis: 0;
    flex-grow: 1;
    padding: 1rem;
    padding-left: 3rem;
}

.top-section{
    display: flex;
    text-align: start;
    padding: 0;
}

.top-section .left{
    background-color: rgb(248, 250, 249,var(--background-opacity));
}

.top-section .right{
    position: relative;
    background: linear-gradient(
        210.65deg,
        rgb(152,157,157,var(--background-opacity)) 0%,
        rgb(189,194,194,var(--background-opacity)) 100%
    );
}

.top-section .right .elem>img{
    overflow-x: hidden;
    position: absolute;
}
.elem img:nth-child(1){
    transform: translateX(0);
    translate: 5% -33%;
   width: 45rem;
}
.elem img:nth-child(2){
    transform: translateY( 0);
    translate: -22% 42% ;
    width: 40rem;
}
.elem img:nth-child(3){
    transform: translateY(0);
    translate: -9% 65%;
    width: 28rem;
}
.elem img:nth-child(4){
    transform: translate(0);
    translate: 81% 21% ;
    width: 25rem;
}

.bottom-section{
    display: flex;
    text-align: start;
    padding: 0;
}
.bottom-section .left{
    padding: 4rem;
    width: 65%;
}
.bottom-section .right{
    height: 100vh;
    width: 35%;
    background: url(images/dark-bg.jpg);
    background-size: cover;
    background-position: center;
}

footer{
    display: flex;
    bottom: 0;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: -90px;
    padding: 0 70px;
}
footer>a{
    color: #141616;
    font-size: 14px;
    text-decoration: none;
    margin-right: 50px;
}
footer>h5{
    font-size: 14px;
    color: #989D9D;
}
@supports(mix-blend-mode: difference){
    header, #mask{
        color: #141616;
    }
}


:root{
    --scroll:0;
}

.top-section{
    overflow: hidden;
    position: sticky;
    top: 0;
    translate:0 calc(-1%  * (max(var(--scroll),25) - 25) *100 / 75 );

    /* 
    (oldval - oldmin)* newRange / oldRange + newMininum
    */
    --background-opacity: calc(100% - 1%  * min(var(--scroll),35) *100 / 35 );
}
header{
    --valueH: min(var(--scroll),100)*48 / 100;
    width: calc(50vw + 1vw*var(--valueH));
}
header svg{
    rotate:calc(1deg * (max(var(--scroll),0) * 50 ))
}

.elem img:nth-child(1){
    transform: translateX(calc( 1px  * min(var(--scroll),200) * 800 / 200));
}
.elem img:nth-child(2){
    transform: translateY(calc(-1px  * min(var(--scroll),250) * 1000 / 250));
}
.elem img:nth-child(3){
    transform: translateY(calc(-1px  * min(var(--scroll),100) * 1000 / 100));
}
.elem img:nth-child(4){
    transform: translate(
        calc( 1px  * min(var(--scroll),200) * 800 / 200),
        calc( -1px  * min(var(--scroll),200) * 1000 / 200)
    );
}
.imgs > *{
    position: fixed;
    width: 100vw;
    bottom: 0;
    z-index: 10;
    translate: 0 100%;
    transition:  translate 250ms ease-in-out;
}

.imgs > .show{
    translate: 0 0;
}

.imgs > .top-section-img{
    --value: min(var(--scroll),30)*50 / 30;
    width: calc(50vw + 1vw*var(--value));
    transform: translateY( calc(50% - 1%*var(--value)));
}
/* 
    (oldval - oldmin)* newRange / oldRange + newMininum

    oldval is the old value for the scroll that is the initial scroll (in our case is --value)
    old min is the value of the scroll that is from where we want to start tha scroll
    new range is the range where we want to go furter to screen 
    old range is the range to which we want to scroll 
    new minimum is the new  minimun value for the scroll 
    */
.imgs > .bottom-section-img{
    --value: min(var(--scrollFull),30)* 50 / 30;
    transform: translateY( calc(50% - 1%*var(--value)));
}

.imgs > .lastimg{
    translate: 0 74%;
}
[data-img-to-show]{
    position: absolute;
    top: 20%;
}

@media(width <= 1000px){
    header{
        width: 100%;
    }
    .top-section .right{
        display: none;
    }

    .top-section .left{
        text-align: center;
    }

    body{
        font-size: 24px;
    }

    h1{
        font-size: 80px;
    }

    .bottom-section{
        flex-direction: column;
        height: fit-content;
    }
    .bottom-section .left{
        text-align: center;
        width: 100%;
    }
    .bottom-section .right{
        height: 60vh;
        width: 100%;
    }
    .bottom-section .footer{
        display: none;
    }

    footer{
        margin: 0;
        padding: 0 40px;
    }

    .imgs > .top-section-img{
        width: 100vw;
    }
}